In [1]:
import pandas as pd
import sklearn.datasets as ds

In [2]:
iris_ds = ds.load_iris()
features_df = pd.DataFrame(iris_ds.data, columns=iris_ds.feature_names)
targets_df = pd.DataFrame(iris_ds.target, columns=['target'])
df = features_df.join(targets_df)
print(iris_ds.target_names)
df.head()

['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
# zwraca rekordy w losowej kolejności
df = df.sample(frac=1).reset_index(drop=True)

In [4]:
df['target'].unique()

array([1, 2, 0])

a) dwie klasy z wielu

In [5]:
first_class = 0
second_class = 1
two_classes_df = df[(df['target'] == first_class) | (df['target'] == second_class)].reset_index(drop=True)
print(two_classes_df['target'].unique())
two_classes_df.head(10)

[1 0]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,2.8,4.0,1.3,1
1,6.1,2.8,4.7,1.2,1
2,6.2,2.9,4.3,1.3,1
3,5.0,3.5,1.3,0.3,0
4,4.6,3.6,1.0,0.2,0
5,5.1,3.8,1.5,0.3,0
6,6.7,3.1,4.4,1.4,1
7,5.8,2.6,4.0,1.2,1
8,5.6,2.5,3.9,1.1,1
9,5.1,3.4,1.5,0.2,0

b) jedna klasa przeciw pozostałym

dla wybranego zestawu danych (iris) potrzebne będą 3 klasyfikatory binarne (liczba klasyfikatorów binarnych równa się liczbie występujących klas)

dlatego też, należy utworzyć 3 podzbiory, gdzie w każdym będzie rozważana przynależność tylko do jednej, konkretnej klasy

In [6]:
setosa_df = df.rename(columns={'target' : 'setosa'})
setosa_df['setosa'] = setosa_df['setosa'].apply(lambda x: 1 if x == 0 else -1)

versicolor_df = df.rename(columns={'target' : 'versicolor'})
versicolor_df['versicolor'] = versicolor_df['versicolor'].apply(lambda x: 1 if x == 1 else -1)

virginica_df = df.rename(columns={'target' : 'virginica'})
virginica_df['virginica'] = virginica_df['virginica'].apply(lambda x: 1 if x == 2 else -1)

setosa_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa
0,6.1,2.8,4.0,1.3,-1
1,6.1,2.8,4.7,1.2,-1
2,7.3,2.9,6.3,1.8,-1
3,5.9,3.0,5.1,1.8,-1
4,6.2,2.9,4.3,1.3,-1
5,7.1,3.0,5.9,2.1,-1
6,6.2,2.8,4.8,1.8,-1
7,5.0,3.5,1.3,0.3,1
8,4.6,3.6,1.0,0.2,1
9,6.9,3.1,5.1,2.3,-1

In [7]:
versicolor_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),versicolor
0,6.1,2.8,4.0,1.3,1
1,6.1,2.8,4.7,1.2,1
2,7.3,2.9,6.3,1.8,-1
3,5.9,3.0,5.1,1.8,-1
4,6.2,2.9,4.3,1.3,1
5,7.1,3.0,5.9,2.1,-1
6,6.2,2.8,4.8,1.8,-1
7,5.0,3.5,1.3,0.3,-1
8,4.6,3.6,1.0,0.2,-1
9,6.9,3.1,5.1,2.3,-1

In [8]:
virginica_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),virginica
0,6.1,2.8,4.0,1.3,-1
1,6.1,2.8,4.7,1.2,-1
2,7.3,2.9,6.3,1.8,1
3,5.9,3.0,5.1,1.8,1
4,6.2,2.9,4.3,1.3,-1
5,7.1,3.0,5.9,2.1,1
6,6.2,2.8,4.8,1.8,1
7,5.0,3.5,1.3,0.3,-1
8,4.6,3.6,1.0,0.2,-1
9,6.9,3.1,5.1,2.3,1

c) każde dwie klasy w parach

dla wybranego zestawu danych (iris) potrzebnych będzie N * (N-1)/2 klasyfikatorów binarnych (czyli dla N=3 potrzeba 3*(3-1)/2=3)

dlatego też, należy utworzyć 3 podzbiory, gdzie w każdym będzie rozważana przynależność tylko do jednej, konkretnej klasy

In [9]:
setosa = 0
versicolor = 1
virginica = 2
setosa_versicolor_df = df[(df['target'] == setosa) | (df['target'] == versicolor)].reset_index(drop=True)
setosa_virginica_df = df[(df['target'] == setosa) | (df['target'] == virginica)].reset_index(drop=True)
versicolor_virginica_df = df[(df['target'] == versicolor) | (df['target'] == virginica)].reset_index(drop=True)
print(setosa_versicolor_df['target'].unique(), setosa_virginica_df['target'].unique(),
      versicolor_virginica_df['target'].unique())

setosa_versicolor_df.head(10)

[1 0] [2 0] [1 2]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,2.8,4.0,1.3,1
1,6.1,2.8,4.7,1.2,1
2,6.2,2.9,4.3,1.3,1
3,5.0,3.5,1.3,0.3,0
4,4.6,3.6,1.0,0.2,0
5,5.1,3.8,1.5,0.3,0
6,6.7,3.1,4.4,1.4,1
7,5.8,2.6,4.0,1.2,1
8,5.6,2.5,3.9,1.1,1
9,5.1,3.4,1.5,0.2,0

In [10]:
setosa_virginica_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,7.3,2.9,6.3,1.8,2
1,5.9,3.0,5.1,1.8,2
2,7.1,3.0,5.9,2.1,2
3,6.2,2.8,4.8,1.8,2
4,5.0,3.5,1.3,0.3,0
5,4.6,3.6,1.0,0.2,0
6,6.9,3.1,5.1,2.3,2
7,5.1,3.8,1.5,0.3,0
8,7.4,2.8,6.1,1.9,2
9,5.1,3.4,1.5,0.2,0

In [11]:
versicolor_virginica_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,2.8,4.0,1.3,1
1,6.1,2.8,4.7,1.2,1
2,7.3,2.9,6.3,1.8,2
3,5.9,3.0,5.1,1.8,2
4,6.2,2.9,4.3,1.3,1
5,7.1,3.0,5.9,2.1,2
6,6.2,2.8,4.8,1.8,2
7,6.9,3.1,5.1,2.3,2
8,6.7,3.1,4.4,1.4,1
9,5.8,2.6,4.0,1.2,1